
{% extends 'login-base.html.twig' %}
{% block stylesheets %}
    {#{{ parent() }}#}
    <!-- fontawesome icon -->
    <link rel="stylesheet" href="{{ asset('assets/fonts/fontawesome/css/fontawesome-all.min.css') }}">
    <!-- animation css -->
    <link rel="stylesheet" href="{{ asset('assets/plugins/animation/css/animate.min.css') }}">
    <!-- vendor css -->

    <link rel="stylesheet" href="{{ asset('assets/theme/rbs/css/style.css') }}">
{% endblock %}
{% block body_id 'login' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/vendor-all.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
{% endblock %}

{% block body %}

    <div class="auth-wrapper">
        <div class="auth-content">
            {# <div class="auth-bg">
                 <span class="r"></span>
                 <span class="r s"></span>
                 <span class="r s"></span>
                 <span class="r"></span>
             </div>#}

            {% if error %}
                <div class="alert alert-danger">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}
<div class="card">
    <div class="card-body text-center">
        <form action="{{ path('security_login') }}" method="post">
            <h4 class="mb-3">{{ 'Aman Requisition Management'|trans }}</h4>
            <h4 class="mb-5">{{ 'Login Information'|trans }}</h4>
            <div class="input-group mb-3">
                <input placeholder="{{ 'enter.your.username'|trans }}" type="text" id="username" name="_username" value="{{ last_username }}" class="form-control"/>
            </div>
            <div class="input-group mb-4">
                <input placeholder="{{ 'enter.your.password'|trans }}" type="password" id="password" name="_password" class="form-control" />
            </div>
            <div class="form-group text-left">
                <div class="checkbox checkbox-fill d-inline">
                    <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" checked="">
                    <label for="checkbox-fill-a1" class="cr"> {{ 'remember.me'|trans }}</label>
                </div>
            </div>
            <input type="hidden" name="_target_path" value="{{ app.request.get('redirect_to') }}"/>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
            <button type="submit" class="btn btn-primary shadow-2 mb-4">
                <i class="feather icon-unlock"></i> {{ 'action.sign_in'|trans }}
            </button>
        </form>
    </div>
</div>
</div>
</div>

{% endblock %}

