{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Manage Approval User'|trans }}</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered table-hover display nowrap" id="datatable">
                                <thead>
                                <tr>
                                    <th scope="col"><i class="fa fa-sort-numeric-desc"></i></th>
                                    <th scope="col">Name of Employee</th>
                                    <th scope="col">Designation</th>
                                    <th scope="col">Departments</th>
                                    <th scope="col">Process</th>
                                    <th scope="col">CAPEX</th>
                                    <th scope="col">OPEX</th>
                                    <th scope="col">INV</th>
                                    <th scope="col">Expense</th>
                                    <th scope="col">Confidential</th>
                                    <th scope="col">AAP</th>
                                    <th scope="col">OAR</th>
                                    <th scope="col">Status</th>
                                    <th scope="col" class="text-center"><i class="feather icon-settings"></i></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for entity in pagination %}
                                    <tr data-post-id="{{ entity.id }}">
                                        <td>
                                            <a class='editable' id='ordering' data-name='ordering' href='javascript:'   data-url='{{ path('approval_user_ordering_update')}}' data-pk='{{ entity.id }}' data-value='{{ entity.ordering }}'>{{ entity.ordering }}</a>
                                        </td>
                                        <td>{{ entity.user.name }}</td>
                                        <td>{% if entity.user.profile.designation is not empty %}{{ entity.user.profile.designation.name }}{% endif %}</td>
                                        <td>{% if entity.departments %}
                                                {% for department in entity.departments  %}
                                                    {{ department.name }}
                                                    {{ not loop.last ? ',' }}
                                                {% endfor %}
                                            {% endif %}
                                        </td>
                                        <td>{{ entity.process }}</td>
                                        <td>{{ entity.financialMatrixCapex ? entity.financialMatrixCapex.name :'' }}</td>
                                        <td>{{ entity.financialMatrixOpex ? entity.financialMatrixOpex.name :'' }}</td>
                                        <td>{{ entity.financialMatrixInv ? entity.financialMatrixInv.name :'' }}</td>
                                        <td>{{ entity.financialMatrixExpense ? entity.financialMatrixExpense.name :"" }}</td>
                                        <td>{{ entity.financialMatrixConfidential ? entity.financialMatrixConfidential.name :'' }}</td>
                                        <td>{{ entity.financialMatrixAap ? entity.financialMatrixAap.name :'' }}</td>
                                        <td>{{ entity.financialMatrixOar ? entity.financialMatrixOar.name :"" }}</td>
                                        <td><input class="status" data-action="{{ path('garments_approval_user_status',{'id':entity.id}) }}" type="checkbox" {% if entity.status == 1 %} checked="checked" {% endif %} data-toggle="toggle" data-size="xs" data-style="slow" data-offstyle="warning" data-onstyle="success" data-on="Enabled" data-off="Disabled"></td>
                                        <td>
                                            <div class="btn-group">
                                                <a class='btn   btn-mini yellow-bg white-font' data-id='{{ entity.id }}' href='{{ path('approval_user_edit',{'id':entity.id}) }}' id='{{ entity.id }}' ><i class='feather icon-edit'></i> Edit</a>
                                                <a class='btn  btn-transparent btn-mini red-font remove' data-id='{{ entity.id }}' href='javascript:' data-action='{{ path('approval_user_delete',{'id':entity.id}) }}' id='{{ entity.id }}' ><i class='feather icon-trash-2'></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet box green ">
                                <div class="portlet-title">
                                    <div class="caption">{{ 'ADD NEW APPROVAL USER'|trans }} </div>
                                </div>
                                <div class="portlet-body form">
                                    {{ form_start(form, {'attr': {'class': 'form-horizontal right'}}) }}
                                    <div class="form-inner-no-space">
                                        <div class="row">
                                            <div class="col-md-12 form-box-header"><p>All approval user</p></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 form-box-body">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            {{ form_label(form.user, 'Approval User'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                            <div class="col-md-8">
                                                                <span class="is-required"> *</span>
                                                                {{ form_widget(form.user) }}
                                                                {{ form_errors(form.user) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            {{ form_label(form.process, 'Process'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                            <div class="col-md-8">
                                                                <span class="is-required"> *</span>
                                                                {{ form_widget(form.process) }}
                                                                {{ form_errors(form.process) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            {{ form_label(form.financialMatrixCapex, 'Financial Matrix Capex'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                            <div class="col-md-8">
                                                                {{ form_widget(form.financialMatrixCapex) }}
                                                                {{ form_errors(form.financialMatrixCapex) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            {{ form_label(form.financialMatrixOar, 'Financial Matrix OAR'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                            <div class="col-md-8">
                                                                {{ form_widget(form.financialMatrixOar) }}
                                                                {{ form_errors(form.financialMatrixOar) }}
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            {{ form_label(form.financialMatrixOpex, 'Financial Matrix Opex'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                            <div class="col-md-8">
                                                                {{ form_widget(form.financialMatrixOpex) }}
                                                                {{ form_errors(form.financialMatrixOpex) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            {{ form_label(form.financialMatrixAap, 'Financial Matrix AAP'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                            <div class="col-md-8">
                                                                {{ form_widget(form.financialMatrixAap) }}
                                                                {{ form_errors(form.financialMatrixAap) }}
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            {{ form_label(form.financialMatrixExpense, 'Financial Matrix Expense'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                            <div class="col-md-8">
                                                                {{ form_widget(form.financialMatrixExpense) }}
                                                                {{ form_errors(form.financialMatrixExpense) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            {{ form_label(form.financialMatrixConfidential, 'Financial Matrix Confidential'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                            <div class="col-md-8">
                                                                {{ form_widget(form.financialMatrixConfidential) }}
                                                                {{ form_errors(form.financialMatrixConfidential) }}
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            {{ form_label(form.financialMatrixInv, 'Financial Matrix Inventory'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                            <div class="col-md-8">
                                                                {{ form_widget(form.financialMatrixInv) }}
                                                                {{ form_errors(form.financialMatrixInv) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">

                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <div class="col-md-2"></div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            {{ form_widget(form.status) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12"><hr/></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            {{ form_label(form.branches, 'Company'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                                            <div class="col-md-10">
                                                                {{ form_widget(form.branches) }}
                                                                {{ form_errors(form.branches) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12"><hr/></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            {{ form_label(form.departments, 'Departments'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                                            <div class="col-md-10">
                                                                {{ form_widget(form.departments) }}
                                                                {{ form_errors(form.departments) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12"><hr/></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            {{ form_label(form.appModules, 'Modules'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                                            <div class="col-md-10">
                                                                {{ form_widget(form.appModules) }}
                                                                {{ form_errors(form.appModules) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="form-sm-actions">
                                            <div class="col-md-12 text-center">
                                                <div class="btn-group" role="group" aria-label="Button group with nested dropdown"><button type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-refresh"></i>Restore</button>
                                                    {{ form_widget(form.SaveAndCreate, {label: 'label.save.continue',value:'label.save.continue', attr: { class: 'btn btn-info form-submit'}}) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{ form_widget(form._token) }}
                                    {{ form_end(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
    <style>
        #approval_user_form_branches .checkbox , #approval_user_form_requisitionMode .checkbox, #approval_user_form_departments .checkbox, #approval_user_form_appModules .checkbox{
            width: 20%!important;
        }
    </style>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}

{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/module/js/editable.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    EditableInit();
{% endblock %}
