{% extends 'layout.html.twig' %}
{% block body_id 'core_domain_new' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Manage Email Templating'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm">
                            <a href="{{ path('domain_emailtemplate') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-list"></i>{{ 'Manage Email Template'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="portlet box green ">
                    <div class="portlet-title">
                        <div class="caption">{{ 'Manage Email Templating'|trans }} </div>
                    </div>
                    <div class="portlet-body form">
                        {{ form_start(form, {'attr': {'class': 'form-horizontal right'}}) }}
                        <div class="row form-body">
                            <div class="form-inner-no-space">
                                <div class="row">
                                    <div class="col-md-12 form-box-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label" for="">Module Name</label>
                                                    <label class="col-md-4 control-label text-left" for="">{{ entity.module.name }}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.name, 'Subject'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-8">
                                                        <span class="is-required">*</span>
                                                        {{ form_widget(form.name) }}
                                                        {{ form_errors(form.name) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.body, 'Body'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-8">
                                                        <span class="is-required">*</span>
                                                        {{ form_widget(form.body) }}
                                                        {{ form_errors(form.body) }}
                                                        <p>[%created%]','[%link%]','[%invoice-no%]</p>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="col-md-4"></label>
                                                    <div class="col-md-6">
                                                        {{ form_widget(form.status) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="col-md-4"></label>
                                                    <div class="col-md-6">
                                                        <div class="btn-group" role="group" aria-label="Button group with nested dropdown"><button type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-refresh"></i>Restore</button>
                                                            {{ form_widget(form.SaveAndCreate, {label: 'label.save.continue',value:'label.save.continue', attr: { class: 'btn btn-info form-submit'}}) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>

                            </div>
                        </div>
                        {{ form_widget(form._token) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
 {% block cssBlock %}
     <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
 {% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    $('#sortable').sortable({
    update: function(event, ui) {
    $('#sortable').children().each(function(i) {
        var id = $(this).attr('data-post-id')
        ,order = $(this).index() + 1;
        $.get(Routing.generate('domain_emailtemplate_sorting'),{'columnId':id,'sorting':order})});
    }
    });
{% endblock %}
