{% extends 'layout.html.twig' %}
 {% block body_id 'core_domain_new' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item">{{ entity.organizationName }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Manage Organization'|trans }} : {{ entity.organizationName }}</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="portlet box green ">
                    <div class="portlet-title">
                        <div class="caption"><i class="fa fa-th-large"></i> {{ 'Manage Organization'|trans }} {{ entity.organizationName }}</div>
                    </div>
                    <div class="portlet-body form">
                        <div class="row">
                            <div class="col-md-12" id="process-msg">
                                <div class="alert alert-success"></div>
                            </div>
                        </div>
                        {{ form_start(form, {'attr': {'class': 'form-horizontal right'}}) }}
                        <div class="row form-body">
                            <div class="form-inner-no-space">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_label(form.organizationName, 'Organization Name'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-8">
                                                <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                {{ form_widget(form.organizationName) }}
                                                {{ form_errors(form.organizationName) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.vatSlave, 'Company VAT Slave'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-8">
                                                <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                {{ form_widget(form.vatSlave) }}
                                                {{ form_errors(form.vatSlave) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.binNo, 'BIN No'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.binNo) }}
                                                {{ form_errors(form.binNo) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.binNo, 'TIN No'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.tinNo) }}
                                                {{ form_errors(form.tinNo) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.displayMobile, 'Display Mobile'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-8">
                                                <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                {{ form_widget(form.displayMobile) }}
                                                {{ form_errors(form.displayMobile) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.phone, 'Phone'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.phone) }}
                                                {{ form_errors(form.phone) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.email, 'Email Address'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-8">
                                                <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                {{ form_widget(form.email) }}
                                                {{ form_errors(form.email) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_label(form.ownerName, 'Owner Name'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-8">
                                                <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                {{ form_widget(form.ownerName) }}
                                                {{ form_errors(form.ownerName) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.binNo, 'NID No'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.nid) }}
                                                {{ form_errors(form.nid) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.ownerMobile, 'Owner Mobile'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-8">
                                                <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                {{ form_widget(form.ownerMobile) }}
                                                {{ form_errors(form.ownerMobile) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.ownerDesignation, 'Owner Designation'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.ownerDesignation) }}
                                                {{ form_errors(form.ownerDesignation) }}
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            {{ form_label(form.address, 'Address'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-8">
                                                <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                {{ form_widget(form.address) }}
                                                {{ form_errors(form.address) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="card-header grey-bg inner-header">
                                    <h5>Online Signature Information </h5>
                                </div>
                                <div class="clearfix"><br/></div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_label(form.signaturePerson, 'Name'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-8">
                                                <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                {{ form_widget(form.signaturePerson) }}
                                                {{ form_errors(form.signaturePerson) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.signatureDesignation, 'Designation'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-8">
                                                <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                {{ form_widget(form.signatureDesignation) }}
                                                {{ form_errors(form.signatureDesignation) }}
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_label(form.signatureMobile, 'Mobile No'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-8">
                                                <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                {{ form_widget(form.signatureMobile) }}
                                                {{ form_errors(form.signatureMobile) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.signatureEmail, 'Email Address'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-8">
                                                <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                {{ form_widget(form.signatureEmail) }}
                                                {{ form_errors(form.signatureEmail) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.signatureNid, 'Nid/Passport'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-8">
                                                <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                {{ form_widget(form.signatureNid) }}
                                                {{ form_errors(form.signatureNid) }}
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-actions right">
                                    <div class="col-md-12">

                                        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                            <button type="reset"  class="btn btn-sm yellow-bg white-font"><i class="fa fa-refresh"></i>{{ 'label.reset'|trans }}</button>
                                            {{ form_widget(form.SaveAndCreate, {label: 'SaveAndCreate', attr: { class: 'btn btn-info form-submit'}}) }}
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        {{ form_widget(form._token) }}
                        {{ form_end(form) }}
                    </div>

                </div>
            </div>
        </div>

        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
 {% block cssBlock %}
     <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
 {% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}