.style_28 { padding-right: 3pt; padding-left: 3pt; border: thin solid rgb(0, 0, 0);}
.style_25 { padding: 1pt 3pt; border: thin solid rgb(0, 0, 0);}
.style_24 { font-family: Nikosh; font-weight: bold;}
.style_27 { padding-right: 3pt; padding-left: 3pt; border: thin solid rgb(0, 0, 0);}
.style_8 { font-family: sans-serif; font-size: 9pt; color: rgb(96, 96, 96);}
.style_9 { font-family: sans-serif; font-size: 9pt; color: rgb(96, 96, 96);}
.style_7 { margin-top: 20pt;}
.style_0 { font-family: sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 10pt; color: black; text-indent: 0em; letter-spacing: normal; word-spacing: normal; text-transform: none; white-space: normal; line-height: normal;}
.style_21 { padding-right: 1pt; padding-bottom: 1pt;}
.style_1 { font-weight: bold;}
.style_20 { padding-bottom: 3pt;}
.style_23 { border: thin solid rgb(128, 128, 128);}
.style_22 { padding-right: 3pt;}
.style_4 { margin-bottom: 15pt;}
.style_5 { font-weight: bold;}
.style_2 { font-weight: bold;}
.style_3 { font-family: sans-serif; font-size: 9pt; color: rgb(96, 96, 96);}
.style_18 { border: thin solid black;}
.style_19 { font-weight: bold; font-size: 14pt;}
.style_14 { padding: 1% 3%;}
.style_36 { margin-right: 0pt; margin-left: 0pt; padding-right: 3pt; padding-left: 3pt; border: thin solid rgb(0, 0, 0);}
.style_13 { margin-top: 20pt;}
.style_35 { font-weight: bold; border-top: thin double black;}
.style_16 { font-family: Nikosh;}
.style_15 { font-family: Nikosh;}
.style_37 { padding: 1%;}
.style_10 { margin-top: 20pt; padding-right: 3pt; padding-left: 3pt;}
.style_32 { margin-right: 0pt; margin-left: 0pt; padding-right: 3pt; padding-left: 3pt; border-top: thin solid rgb(0, 0, 0); border-right: thin solid rgb(0, 0, 0); border-left: thin solid rgb(0, 0, 0);}
.style_12 { margin-top: 20pt; padding-right: 1pt; padding-left: 1pt;}
.style_34 { margin-right: 0pt; margin-left: 0pt; padding-right: 3pt; padding-left: 3pt; border-top: thin solid rgb(0, 0, 0); border-right: thin solid rgb(0, 0, 0); border-left: thin solid rgb(0, 0, 0);}
.style_11 { margin-top: 20pt;}
.style_33 { font-family: Nikosh;}
.style_30 { padding-right: 3pt; padding-left: 3pt; border: thin solid rgb(0, 0, 0);}