/*
 * Sticklr.js v1.4.1
 * Sticky side panel jQuery plugin
 * https://github.com/faisalman/sticklr-js
 *
 * Copyright © 2011-2012 Faisal Salman <f@faisalman.com>
 * Dual licensed under GPLv2 & MIT
 */

.sticklr,
.sticklr * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: Helvetica, Ubuntu, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #ccc;
    vertical-align: baseline;
}

.sticklr,
.sticklr > li > ul {
    list-style-type: none;
}

.sticklr {
    position: fixed;
    top: 40%;
    left: 0;
    background-color: #333;
    background-color: rgba(51, 51, 51, 0.95);
    border: 1px solid #535353;
    border-left: none;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0 0 3px #666;
    -moz-box-shadow: 0 0 3px #666;
    -webkit-box-shadow: 0 0 3px #666;
    box-shadow: 0 0 3px rgba(24, 24, 24, 0.25);
    -moz-box-shadow: 0 0 3px rgba(24, 24, 24, 0.25);
    -webkit-box-shadow: 0 0 3px rgba(24, 24, 24, 0.25);
    width: 25px;
    overflow: visible;
    z-index: 90;

    /* all ie css fallback */
    top: 0\9;
    /* <ie7 css fallback */
    background-color: #333 !ie;
}

.sticklr-right {
    left: auto;
    right:0;
    border-right: none;
    border-left: 1px solid #535353;
}

.sticklr > li {
    position: relative;
}

.sticklr > li > a {
    display: block;
    width: 16px;
    height: 16px;
    padding: 4px;
    background-color: #484848;
    background-color: rgba(72, 72, 72, 0.95);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.sticklr > li {
    border-bottom: 1px solid #282828;
    border-right: none;
    border-top: 1px solid #555;
    height: 25px;
}

.sticklr > li:first-child {
    border-top: 1px solid #333;
}

.sticklr > li:last-child {
    border-bottom: 1px solid #333;
}

.sticklr > li > a:hover {
    background-color: #4f4f4f;
}

.sticklr > li > ul {
    display: none;
    position: absolute;
    left: 25px;
    top: -2px;
    width: 180px;
    overflow: hidden;
    background-color: #333;
    background-color: rgba(51, 51, 51, 0.95);
    border: 1px solid #535353;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    box-shadow: 0 0 3px #666;
    -moz-box-shadow: 0 0 3px #666;
    -webkit-box-shadow: 0 0 3px #666;
    box-shadow: 0 0 3px rgba(24, 24, 24, 0.25);
    -moz-box-shadow: 0 0 3px rgba(24, 24, 24, 0.25);
    -webkit-box-shadow: 0 0 3px rgba(24, 24, 24, 0.25);
    z-index: 95;

    /* ie css fallback */
    position: static\9;
    margin-top: -25px\9;
    margin-bottom: 25px\9;
    margin-left: 25px\9;
    float: left\9;
    /* <ie7 css fallback */
    background-color: #333 !ie;
}

.sticklr-arrow {
    position: absolute;
    left: 25px;
    top: 8px;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #666;
    border-right: none;
}

.sticklr-right .sticklr-arrow {
    left: auto;
    right: 25px;
    border-right: 5px solid #666;
    border-left: none;
}

.input-screen {
    background-color: #FFFFFF;
    font-size: 1.5vw;
    color: #0A0302;
    height: 42px;
    border: 2px solid #d63737 !important;
    padding: 8px;
    border-radius: 0 !important;
}

.calculator-area {
  width: 100%;
  height: 90%;
  margin: 4px;
  padding: 4px;
  background-color: #FFFFFF;
}

.history-screen {
  background-color: #f5ecec;
  font-size: 1.0vw;
  max-width: 50%;
    color: red;
    height: 24px;
}

.cal-row {
  margin: 1%;
  padding: 1%;
}

.mod {
  font-size: medium;
  font-weight: bolder;
}

.btn-outline-secondary {
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position 0.1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
  color: #000000;
  background-color: #dddddd;
    margin: 1px;
    border: 1px solid #D4D4D4!important;
}

.btn-outline-secondary:hover {
  background-position: 0 0;
}

.btn-outline-secondary:focus {
  color: #000000;
}

.btn-outline-danger {
  background: linear-gradient(to right, #f87171 0%, #f87171 50%, #ff0000 50%, #ff0000 100%);
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position 0.1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
  color: #000000;
}

.btn-outline-danger:hover {
  background-position: 0 0;
}

.btn-outline-danger:focus {
  color: white;
}
.btn-outline-primary{
    color: red!important;
    line-height: 24px!important;
    font-size: 16px!important;
    background-color: #eedcdf;
    margin:1px;
}

.btn-outline-success{
    background-color: #0A0302!important;
}

.outer {
  margin: 0;
  padding: 0;
}

.reset{
    font-size: 14px!important;
}