.print-header-content{
    height: 125px;
}
.print-header-content img{
    width: 100%;
    height: 100%;
}
.print-footer-content{
    height: 110px;
    margin-top: 15px;
}
.print-footer-content img{
    height: 75px;
    margin-top: 15px;
    width: 100%;
}