body {
    font-size: 90% !important;
}
.table td, .table th {
    font-size: 90% !important;
}
ul {
    list-style-type: square;
    list-style-position: outside;
    list-style-image: none;
}
.h2{
    padding-bottom: 0px;
    margin-bottom: 0;
    display: block;
    margin-top: 0px;
    padding-top: 0px;
}