body {
    font-family: "Open Sans", sans-serif;
    font-size: 12px !important;
    color: #000000;
    font-weight: 400;
    position: relative;
    max-width: 1024px;
    margin: 0 auto;
}

body.body{
    max-width: 1024px;
    margin: 0 auto;
}

.print-bar{
    margin-bottom:10px; font-size: 17px; padding-top: 10px;
    padding-bottom: 5px;
    padding-right: 20px;
    background-color: #b5b5b5;
    height: 42px!important;
}

.list-inline{display:block; font-size: 12px}
.list-inline li{display:inline-block;}
.list-inline li:after{content:'|'; margin:0 10px;}
.list-inline li:last-child:after{content:''; margin:0 10px;}
.print-header-content{
    height: 125px;
}
.print-header-content img{
    width: 100%;
}
.print-footer-content{
    margin-top: 15px;
}
.print-footer-content img{
    width: 100%;
}

.card-block{
    min-height:  29.7cm!important;
}
#print-area{
    min-height:  29.7cm!important;
}

.page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
.page[size="A4"] {
    width: 21cm;
    height: 29.7cm;
}
.page[size="A4"][layout="landscape"] {
    width: 29.7cm;
    height: 21cm;
}
ul , ul li{
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 20px;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    float: left;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
}
.col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
.col-md-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}
.col-md-6 {
    flex: 0 0 50%;
    width: 50%;
}
.col-md-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}
.col-md-4 {
    flex: 0 0 33.333333%;
    width: 33.333333%;
}
.col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
}
.col-md-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}
.col-md-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}

.pt-0, .py-0 {
    padding-top: 0!important;
}

.pt-1, .py-1 {
    padding-top: .25rem!important;
}

.pt-2, .py-2 {
    padding-top: .5rem!important;
}

.pb-2{
    padding-bottom: .5rem!important;

}

.pt-3, .py-3 {
    padding-top: 1rem!important;
}
.pt-4, .py-4 {
    padding-top: 1.5rem!important;
}

.pt-5, .py-5 {
    padding-top: 3rem!important;
}

p{
    line-height: 17px;
    margin: 0;
    padding: 0;
}

p strong{
    line-height: 20px;
}

.table {
    display: table;
    border-collapse: collapse!important;
    border-spacing: 0!important;
    border-color: #000000;
    width: 100%;
}
.table th, .table td{
    padding-left: 5px;
    padding-right: 5px;
}

.table th {
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
}

.table td{
    display: table-cell;
    vertical-align: middle;
}
.table td, .table th {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    border: 1px solid #0c0c0c;
    padding-bottom: 2px;
    padding-top: 2px;
    font-size: 12px;
}

.Text-Right, .text-right{
    text-align: right!important;
}

.Text-Left , .text-left{
    text-align: left!important;
}

.Text-Center , .text-center{
    text-align: center!important;
}

.text-justify{
    text-align: justify;
    line-height: 20px;
}
.fa {
    color: #fff;
}
.btn{
    appearance: auto;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: #000000 !important;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: rgb(239, 239, 239);
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 2px 6px;
    border-width: 1px;
    border-style: outset;
    border-color: rgb(133, 133, 133);
    border-image: initial;
    text-decoration: none !important;
    border-radius: 3px;

}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    line-height: 1.5;
    border-radius:0;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    padding: .25rem .5rem;
    font-size: .875rem;
    color: #fff!important;
}

.blue-bg {
    background: #214ED3;
}

.btn-print {
    background-color: #f4c22b;
    border-color: #f4c22b;
}

.btn-download {
    background-color: #0098ef;
    border-color: #0090e2;
}

.btn-excel {
    background-color: #28a745;
    border-color: #29a345;
}

.footer-msg{
    position: relative;
}
.footer-msg .footer-msg-inner{
    bottom: 0;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    font-size: 10px;
}
.header-block{
    margin-bottom: 20px;
}
.header-block p, .header-block ul li{
    line-height: 17px !important;
    /*font-size: 12px !important;*/
    letter-spacing: 0.3px !important;
}
.invoice-header{
    line-height: 17px;
}

.signature{
    padding: 15px; margin-bottom: 15px; text-align: center
}
.signature .signature-image{
    height: 60px;
}

.grid-comment-signature {
    width: 100%;
    display: grid;
    grid-gap: 0;
}
.grid-comment-signature {
    grid-template-columns: repeat(4, calc(100%/4));
}

.grid-designation {
    width: 100%;
    display: grid;
    grid-gap: 0;
}
.grid-designation {
    grid-template-columns: repeat(4, calc(100%/4));
}

.div-br-15{
    height: 15px;
}
.div-br-30{
    height: 30px;
}
.div-br-40{
    height: 40px;
}

