
.blue-bg{
	background:#214ED3;
}
.blue-font{
	color:#214ED3;
}
.indigo-bg{
	background:  #6610f2;
}
.indigo-font{
	color:  #6610f2;
}
.purple-bg{
	background:  #6f42c1;
}
.purple-font{
	color:  #6f42c1;
}
.pink-bg{
	background:  #e83e8c;
}
.pink-font{
	color:  #e83e8c;
}
.red-bg{
	color:  #dc3545;
}
.red-font{
	color:  #dc3545;
}
.orange-bg{
	background:  #fd7e14;
}
.orange-font{
	color:  #fd7e14;
}
.yellow-bg{
	background:  #daae82;
}
.yellow-font{
	color:  #daae82;
}

.green-bg{
	background:  #659c17;
}
.green-font{
	color:  #85c51f;
}

.teal-bg{
	background:  #20c997;
}
.teal-font{
	color:  #20c997;
}

.cyan-bg{
	background:  #17a2b8;
}
.cyan-font{
	color:  #17a2b8;
}

.white-bg{
	background:  #ffffff;
}
.white-font{
	color:  #ffffff!important;
}
.gray-bg{
	background: #748892;
}
.gray-font{
	color:  #6c757d;
}
.gray-dark-bg{
	background:  #343a40;
}
.gray-dark-font{
	color:  #343a40;
}
.secondary-bg{
	background:  #6c757d;
}
.secondary-font{
	color:  #6c757d;
}
.success-bg{
	background:  #28a745;
}
.success-font{
	color:  #28a745;
}
.warning-bg{
	background:  #ffc107;
}
.warning-font{
	color:  #ffc107;
}
.red-bg{
	background:  #dc3545;
}
.red-bg{
	color:  #dc3545;
}
.danger-bg{
	background:  #dc3545;
}
.danger-font{
	color:  #dc3545;
}
.light-bg{
	background:  #f8f9fa;
}
.light-font{
	color:  #f8f9fa;
}
.dark-bg{
	background:  #343a40;
}
.dark-font{
	color:  #343a40;
}

.drp-user a{
	color: #000000;
}
.ml-auto li a{
	color: #0A0302!important;
}

.btn:focus {
	outline: none!important;
	box-shadow: none;
}

.navbar {
	background: #1b498a;
	position: fixed;
	overflow: visible;
	z-index: 999;
	width: 100%;
	box-shadow: 0 0 7px rgba(191,188,188,0.4);
	padding: 0 1rem!important;
}

.dropdown-menu{
	padding-top:0;
	border-radius: 0!important;
}
.navbar-nav .dropdown-menu{
	margin-top: 10px;
}
.dropdown-menu-right{
	margin-top: 11px!important;
	border-radius:0!important;
	padding-bottom: 7px!important;
}

.application{
	border: 1px solid #ddddff;
	background: #3699FF!important;
}

.card-option{
	margin-top: 4px!important;
}
.card-option .dropdown-item a{
	font-size: 13px;
}
.nav-link{
	color: #FFFFFF!important;
}

.application{
	width: 100%!important;
	margin-bottom: 10px;
	color: #ffffff!important;
}
.ml-auto li {
	padding-left: 7px;
	padding-right: 8px;
	font-size: 14px;
}
.ml-auto .dropdown-menu-right a {
	font-size: 14px;
}
.pcoded-content {
	position: relative;
	display: block;
	padding: 30px;
	padding-top: 0;
	padding-bottom: 0;
}
.breadcrumb {
	background-color: #f4f7fa;
	border-radius: 0;
	margin-bottom: 0;
	width: 100%;
}
#application-name{
	font-size: 16px;
	line-height: 30px;
	font-weight: bold;
	padding-bottom: 0;
	margin-bottom: 0;
	margin-left:30px;

	text-transform: uppercase;
}
#application-name a{
	color: #0d0506!important;
}
#application{
	width: 350px;
	margin-top: 8px;
	border-radius: 0!important;
}
#application-inner{
	background: #343a40;
	margin-bottom: 15px;
	margin-top: 0!important;
	color: #f4f7fa;
	font-weight: bold;
}


.breadcrumb{
	margin-bottom: 0;
}
.pcoded-content{
	padding-top: 0;
}

.breadcrumb-top {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: .75rem 1rem;
	margin-bottom: 1rem;
	list-style: none;
	background-color: transparent!important;
	border-radius: .25rem;
}
.breadcrumb-item + .breadcrumb-item a {
	color: #8394a1;
}
.breadcrumb-item+.breadcrumb-item::before {
	display: inline-block;
	padding-right: .5rem;
	color: #8394a1;
	content: "/" !important;
}
.breadcrumb-item+.breadcrumb-item {
	padding-left: .5rem;
}

table.dataTable{
	width: 100%!important;
}
.dropdown .notification {
	width: 350px;
	padding: 0;
	line-height: 1.4;
	overflow: hidden;
}
.dropdown .notification .noti-head {
	border-bottom: 1px solid #f1f1f1;
	padding: 15px 20px;
}
.dropdown .notification .noti-head a {
	text-decoration: underline;
	font-size: 13px;
}
.dropdown .notification .noti-body {
	padding: 0;
}
.dropdown .notification .noti-body img {
	width: 40px;
	margin-right: 20px;
}
.dropdown .notification .noti-body li {
	padding: 15px 20px;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.dropdown .notification .noti-body li.n-title {
	padding-bottom: 0;
}
.dropdown .notification .noti-body li.n-title p {
	margin-bottom: 5px;
}
.dropdown .notification .noti-body li.notification:hover {
	background: rgba(4, 169, 245, 0.1);
}
.dropdown .notification .noti-body li p {
	margin-bottom: 5px;
	font-size: 13px;
}
.dropdown .notification .noti-body li p strong {
	color: #222;
}
.dropdown .notification .noti-body li .n-time {
	font-size: 80%;
	float: right;
}
.dropdown .notification .noti-footer {
	border-top: 1px solid #f1f1f1;
	padding: 15px 20px;
	text-align: center;
}
.dropdown .notification .noti-footer a {
	text-decoration: underline;
	font-size: 13px;
}
.dropdown .notification ul {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}
.dropdown .notification ul li {
	padding: 20px 15px;
}


.breadcrumb-item + .breadcrumb-item{

}
.breadcrumb a{
	color: #8394a1;
}
.breadcrumb-item + .breadcrumb-item a{
	color: #8394a1;
}

.card{
	width: 100%;
}

.card .card-header h5:after {
	content: "";
	background-color:  #f4f7fa;
	position: absolute;
	left: -25px;
	top: 0;
	width: 4px;
	height: 20px;
}

.pcoded-header .drp-user.show:before {
	left: -14px;
}

.pcoded-header .notification.show:before {
	left: -14px!important;
}

.pcoded-header.header-green .dropdown .profile-notification .pro-head .dud-logout {
	color: #fff;
}

.pcoded-header.header-green {
	background: #2bb32a!important;
	color: rgba(255, 255, 255, 0.8);
}

.navbar-brand {
	background:  #f4f7fa!important;
}

.pcoded-navbar .pcoded-inner-navbar > li.active:after, .pcoded-navbar .pcoded-inner-navbar > li.pcoded-trigger:after{
	background:  #f4f7fa!important;
}

.pcoded-header.header-green .dropdown .profile-notification .pro-head {
	color: #fff;
}

.pcoded-navbar a:hover{
	color: #f4f7fa!important; ;
}

.page-item.active .page-link {
	color: #fff;
	background-color: #3699FF;
	border-color: #f4f7fa;
}

.pcoded-header .dropdown .dropdown-menu {
	position: absolute;
	border: none;
	margin-top: 0px;
	min-width: 233px;
}

.page-link{
	color: #f4f7fa;
}

.pcoded-header.header-purple .dropdown.drp-user.show:before {
	color: #3f9320;
}

.pcoded-header .dropdown .dropdown-toggle:after {
	font-family: 'feather';
	font-size: 15px;
	content:"";
}

.table .thead-dark th {
	color: #fff;
	background-color: #3f4d67;
	border-color: #6d7579;
}

.form-horizontal .control-label , .horizontal-form .control-label{
	color: #272a2a;
}

.form-horizontal .requi#8394a1 , .horizontal-form .requi#8394a1{
	font-weight: normal;
	color: #8394a1;
}

.navigation > ul > li > ul > li {
	display: block;
	padding: 0 0 0 15px;
	margin: 7px 0 8px 0;
	position: relative;
	clear: both;
	float: left;
	width: 100%;
}
.navigation > ul > li > ul > li > a {
	font-size: 16px;
}
.navigation > ul > li > ul > li ul {
	padding: 7px 0 0 15px;
}

.navigation > ul > li > ul > li ul li a, .navigation > ul > li > ul > li ul a{
	text-decoration: none;
	font-size: 14px;
}


.page-item:first-child .page-link , .page-item:last-child .page-link{
	border-radius: 0!important;
}

.block {
	max-width:100%;
}

.heading {
	max-width:100%;
	padding-top: 35px;
	padding-bottom: 15px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.08);
	margin-bottom: 35px;
}

.alert .alert-icon {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0 1.25rem 0 0;
}

.alert {
	display: flex;
}

.alert.alert-secondary .alert-text {
	color: #6c7293;
}
.alert .alert-text {
	-ms-flex-item-align: center;
	align-self: center;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
	border-color:  #8394a1;
	box-shadow:none;
	outline: 0 none;
}

.separator {
	clear: both;
	margin: 25px -15px 20px -15px;
	height: 1px;
	background-color: rgba(0, 0, 0, 0.15);
}

.heading .info {
	float: right;
	margin-top: 0!important;
}

.right-info{
	float: right;
}

.btn > i {
	margin-right: 3px;
}

.table th {
	padding: 13px!important;
	vertical-align: middle!important;
	padding-left: 5px !important;
}
.table td{
	padding: 2px!important;
	vertical-align: middle!important;
	padding-left: 5px!important;
}

.btn-notify{
	padding-top: 3px;
	background: transparent;
	padding-bottom: 3px;
}

.dropdown-info{
	position: absolute;
	will-change: transform; top: 0;
	left: 0;
	transform: translate3d(53px, 41px, 0px);
}

.btn-more {
	padding: 10px 20px!important;
}

.btn-group-mini>.btn, .btn-mini {
	padding: .215rem .5rem;
	font-size: 0.600rem;
	line-height: 1.5;
	border-radius: .2rem;
}

.invalid-tooltip {
	font-size: .775rem;
	margin-top: -6px;
	padding: 0.4rem;
}

/* Horizontal Form */

/* Purple Portlet */

.portlet {
	margin-top: 0;
	margin-bottom:0;
	padding: 0;
	border-radius:0;
}

.portlet.box {
	padding: 0!important;
}

.portlet.box.purple {
	border: 1px solid #a563c1;
	border-top: 0;
}
.portlet.box.purple>.portlet-title, .portlet.purple, .portlet>.portlet-body.purple {
	background-color: #8E44AD;
}

.portlet.box.purple>.portlet-title, .portlet.purple, .portlet>.portlet-body.purple {
	background-color: #8E44AD;
}


.portlet.box.green {
	border: 1px solid #E5F1FB;
	border-top: 0;
}


.portlet.box.green>.portlet-title, .portlet.green, .portlet>.portlet-body.green {
	background-color: #28a745;
	color: #ffffff;
}

.portlet.box.blue {
	border: 1px solid #3498db;
	border-top: 0;
}

.portlet.box.blue>.portlet-title, .portlet.blue, .portlet>.portlet-body.blue {
	background-color: #0052cc;
	border-top: 1px solid #0052cc;
	color: #ffffff;
}

.portlet.box.gray {
	border: 1px solid #e8edf7;
	border-top: 0;
}
.portlet.box.gray>.portlet-title, .portlet.gray, .portlet>.portlet-body.gray {
	background-color:rgba(0, 0, 0, 0.03);
	color: #1b1e21;
}

.portlet.box.gray>.portlet-title, .portlet.gray, .portlet>.portlet-body.gray {
	background-color: rgba(0, 0, 0, 0.03);
}

.portlet .form-actions {
	background-color:#f9fafc!important;
	border-top: 1px solid #e7ecf1;
}

.portlet-title-btn{
	float: right;
	margin-top: 5px;
}

.breadcrumb-item+.breadcrumb-item::before {
	display: inline-block;
	padding-right: .5rem;
	color: #6c757d;
	content: "/" !important;
}

.portlet.box>.portlet-title {
	border-bottom: 0;
	padding: 0 10px;
	margin-bottom: 0;
	color:  #0d83dd;;
}
.portlet>.portlet-title {
	border-bottom: 1px solid #eee;
	padding: 0;
	margin-bottom: 10px;
	min-height: 41px;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	-ms-border-radius: 4px 4px 0 0;
	-o-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}
.portlet>.portlet-title>.caption {
	float: left;
	display: inline-block;
	font-size: 14px;
	line-height: 22px;
	padding: 10px 0;
	padding-left: 15px;
	text-transform: uppercase;
}
.portlet.box>.portlet-body {
	background-color: #f4f5f7;
	padding:0;
	clear: both;
}

/* Form & input */

.input-icon {
	position: relative;
	left: 0;
}

.input-icon>i {
	color: #ccc;
	position: absolute;
	margin: 10px 2px 4px 12px;
	z-index: 3;
	width: 16px;
	font-size: 16px;
	text-align: center;
	left: 0;
}


.form .form-body, .portlet-form .form-body {
	padding: 20px;
	padding-bottom: 0px!important;
}
.form-horizontal .form-group {
	margin-left: -15px;
	margin-right: -15px;
	clear: both;
	display: flex;
}
.form-group {
	margin-bottom: 15px;
}
.form-horizontal .form-group:after, .form-horizontal .form-group:before {
	content: " ";
	display: table;
}

.form-horizontal .control-label {
	line-height: calc(2.25rem + 1px);
}

.form-horizontal.right .control-label {
	text-align: right;
	align-items: center!important;
	display: grid;
}

.form .form-actions, .portlet-form .form-actions{
	margin-left: -20px!important;
	margin-right: -20px!important;
}

.form .form-sm-actions, .portlet-form .form-sm-actions{
	margin-left: -15px!important;
	margin-right: -15px!important;
}

.form .form-sm-actions, .portlet-form .form-sm-actions {
	padding: 0;
	margin: 0;
	border-top: 1px solid #28a745;
	padding-top: 15px;
	height: 70px;
	display: block;
	background-color: #DDDDDD!important;
}


.form .form-actions.right, .portlet-form .form-actions.right {
	padding-left: 0;
	padding-right: 20px;
	text-align: right;
}

.form .form-actions.right, .portlet-form .form-actions.left {
	padding-left:20px;
	text-align: right;
}

.input-group-text{
	border-radius: 0!important;
}

@media (min-width: 768px){
	.form-horizontal .control-label {
		text-align: right;
		margin-bottom: 0;
		padding-top: 7px;
	}
}

@media (min-width: 992px){
	.col-md-3 {
		width: 25%;
	}
}

.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
	float: left;
}

.form .form-actions, .portlet-form .form-actions {
	padding:0;
	margin: 0;
	border-top: 1px solid #28a745;
	padding-top: 15px;
	height: 70px;
	display: block;
	background-color: #DDDDDD!important;
}



.help-block{
	font-size: 10px;
}


.select2-container--bootstrap4 .select2-selection {
	border: 1px solid #ced4da;
	border-radius:0!important;
	width: 100%;
}
.select2-container--bootstrap4.select2-container--focus .select2-selection {
	border-color:inherit;
	-webkit-box-shadow:none;
	box-shadow: none;
}
.select2-search--dropdown .select2-search__field {
	border: 1px solid #ced4da;
	border-radius:0!important;
}
.select2-container {
	width:auto !important;
}

/* File Upload */

.form-file-input{
	border-color:inherit;
	-webkit-box-shadow:none;
	box-shadow: none;
	border-radius: 0!important;
}

.custom-file-label {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1;
	height: calc(2.25rem + 2px);
	padding: .375rem .75rem;
	line-height: 26px;
	color: #495057;
	background-color: #fff;
	border: 1px solid #ced4da;
	border-radius: 0;
}
.custom-file-label::after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 3;
	display: block;
	height: 2.25rem;
	padding: .375rem .75rem;
	line-height: 26px;
	color: #495057;
	content: "Browse";
	background-color: #e9ecef;
	border-left: 1px solid #ced4da;
	border-radius: 0 .25rem .25rem 0;
}

/* Text Editor */

.wysiwygEditor-editArea{
	border: 1px solid #ced4da;
	width: 100%!important;

}

.wysiwygEditor-editArea iframe{
	width: 100%;
	border: 0!important;
	background: #FFFFFF!important;
}

.wysiwygEditor-editArea  body{
	padding: 7px!important;
}

/* Table CSS */
.table-borde#8394a1{
}
.table .thead-dark th {
	color: #0d0c0c;
	background-color: #dbdee34a;
	border-color: #d9dee1;
}

#entityDatatable input , #entityDatatable select{
	height: 34px!important;
	border: 1px solid #f4f7fa;
	padding-left: 3px;
	border-radius: 0!important;
	width: 100%;
}

#item-table .form-control , #table .form-control{
	height: 26px!important;
	border: 1px solid #252d24!important;
	border-radius: 0!important;
	padding: 0!important;
	padding-right: 8px!important;
	padding-left: 7px!important;
	text-align: right;
}

#entityDatatable input[type=checkbox]{
	height: 14px!important;
	border: 1px solid #f4f7fa;
	padding-left: 3px;
	border-radius: 0!important;
	width: 100%;
}

.table-borde#8394a1 td, .table-borde#8394a1 th {
	border: 1px solid #f2f3f3;
}
.table-striped tbody tr:nth-of-type(odd) , .table-striped tbody tr:nth-of-type(even){

}
.table td, .table th{
	color: #1b1e21;
	font-size: 12px;
	padding-right: 5px!important;
}
.table tr.filter td{
	padding-left: 0!important;
	border: 0!important;
}
.table th {
	padding: 5px!important;
	vertical-align: middle!important;
}
.table-striped tbody tr:hover {
	background: #dbdee34a!important;
}

/*  Bootstrap CSS */

.tooltip-inner {
	max-width: 200px;
	padding: 3px 8px;
	color: #fff;
	text-align: center;
	background-color: #f4f7fa;
	border-radius: .25rem;
}
.tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before, .tooltip.bs-tooltip-top .arrow::before {
	margin-left: -3px;
	content: "";
	border-width: 5px 5px 0;
	border-top-color:#f4f7fa;
}

.tooltip.bs-tooltip-auto[x-placement^=right] .arrow::before, .tooltip.bs-tooltip-right .arrow::before {
	margin-top: -3px;
	content: "";
	border-width: 5px 5px 5px 0;
	border-right-color: #000;
}

.tooltip.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .tooltip.bs-tooltip-bottom .arrow::before {
	margin-left: -3px;
	content: "";
	border-width: 0 5px 5px;
	border-bottom-color: #000;
}

.tooltip.bs-tooltip-auto[x-placement^=left] .arrow::before, .tooltip.bs-tooltip-left .arrow::before {
	right: 0;
	margin-top: -3px;
	content: "";
	border-width: 5px 0 5px 5px;
	border-left-color: #000;
}

/* PAGE PRE-LOAD */

body {
	overflow: visible;
}


/* Preloader */

#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	/* change if the mask should have another color then white */
	z-index: 99;
	/* makes sure it stays on top */
}

#status {
	width: 200px;
	height: 200px;
	position: absolute;
	left: 50%;
	/* centers the loading animation horizontally one the screen */
	top: 50%;
	/* centers the loading animation vertically one the screen */
	background-image: url("../../../images/ruby-rotating.gif");
	/* path to your loading animation */
	background-repeat: no-repeat;
	background-position: center;
	margin: -100px 0 0 -100px;
	/* is width and height divided by two */
}

/* FORM */

.form-control-sm, .input-group-sm>.form-control, .input-group-sm>.input-group-append>.btn, .input-group-sm>.input-group-append>.input-group-text, .input-group-sm>.input-group-prepend>.btn, .input-group-sm>.input-group-prepend>.input-group-text {
	padding: .25rem .5rem;
	font-size: .875rem;
	line-height: 1.5;
	border-radius: 0;
}


.form-control {
	width: 100%;
	background-color: #fff;
	border: 1px solid #aaa!important;
	border-radius:0!important;
	box-shadow: none!important;
	padding: 7px 10px !important;
	height: 30px;
}

.form-control.form-control-lg{
	background-color: #fff;
	border: 1px solid #aaa!important;
	border-radius: 0!important;
	box-shadow: none!important;
	padding: 6px 12px !important;
	height: 38px;
}

.form-control:focus{
	border-bottom: 1px solid #8394a1!important;
	box-shadow:none;
	outline: 0 none;
}

.form-horizontal .control-label {
	line-height: calc(1.5rem + 1px)!important;
	padding-top: 2px;
}
.form-horizontal .control-label.requi#8394a1{
	line-height: calc(2.25rem + 1px)!important;
	padding-top: 7px;
}

.custom-select, .form-control{
	font-size: 12px;
}
.input-group-text{
	padding: 0px 10px !important;
}

.input-icon>.form-control {
	padding-left: 36px!important;
}


.input-icon {
	position: relative;
	left: 0;
}

.input-icon>i {
	color: #ccc;
	position: absolute;
	margin: 10px 2px 4px 12px;
	z-index: 3;
	width: 16px;
	font-size: 16px;
	text-align: center;
	left: 0;
}


.not-blank{
	text-align: right;
	display: block;
	color: #dc3545;
	font-size: 10px;
	right: 0;
}

.is-blank{
	text-align: right;
	display: block;
	color: #8394a1;
	font-size: 10px;
	right: 0;
}



.card .card-footer {
	background-color: transparent;
	padding: 20px 25px;
	position: relative;
	border-top: 0!important;
}
.card .card-footer .card-footer-right {
	right: 10px;
	top: 10px;
	display: inline-block;
	float: right;
	padding: 0;
	position: absolute;
}

.custom-select-sm{
	border: 1px solid #c2cad8!important;
	height: 30px!important;
	font-size: 12px;
	line-height: 15px!important;
	width: 60px;
}

.lang_hide{display:none!important}
.lang_show{display:block!important}

/* Card */

.card .card-header {
	background-color: transparent;
	border-bottom: 1px solid #f1f1f1;
	padding: 7px 25px;
	position: relative;
	margin-bottom: 1px;
}

.card .card-header h5 {
	margin-bottom: 0;
	color: #0442ba;
	font-size: 13px;
	font-weight: bold;
	display: inline-block;
	margin-right: 10px;
	line-height: 1.1;
	position: relative;
	text-transform: uppercase;
}

.card .card-header .card-header-right {
	right: 10px;
	top: 3px;
	display: inline-block;
	float: right;
	padding: 0;
	position: absolute;
}

input[type=checkbox], input[type=radio] {
	box-sizing: border-box;
	padding: 0;
	outline: 0;
	position: relative;
	bottom: .1rem;
	vertical-align: middle;
	width: 1rem;
	height: 1rem;
	border: 2px #ced4da solid;
}

.table-striped tbody tr:nth-of-type(odd) {
	background-color: #f8ece1;
}