<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}RMS{% endblock %}</title>
    {% block stylesheets %}
        <!-- fontawesome icon -->
        <link rel="stylesheet" href="{{ asset('assets/fonts/fontawesome/css/fontawesome-all.min.css') }}">
        <!-- animation css -->
        <link rel="stylesheet" href="{{ asset('assets/plugins/animation/css/animate.min.css') }}">
        <!-- vendor css -->
        {#{{ encore_entry_link_tags('app') }}#}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('assets/images/aman/favicon.ico') }}" />
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
</head>
<body id="{% block body_id %}{% endblock %}">
{% block header %}
    {% if app.user.terminal is not empty and app.user.terminal.coreDomain is not empty and  app.user.terminal.coreDomain.navbar == "sidebar" %}
        {{ include('base/sidebar.html.twig') }}
    {% else %}
        {{ include('base/nav.html.twig') }}
    {% endif %}
{% endblock %}
<div class=" {% if app.user.terminal is not empty  and app.user.terminal.coreDomain is not empty and  app.user.terminal.coreDomain.navbar == "sidebar" %} pcoded-main-container {% endif %} main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            {% block body %}{% endblock %}
        </div>
    </div>
</div>
<div class="modal fade" id="bootstrapModal" aria-labelledby="bootstrapModal" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitleLabel">Information Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="entity-data"></div>
        </div>
    </div>
</div>
<!-- [ Main Content ] end -->
{% block footer %}
    <footer class="footer text-center">
        <div style="height: 44px;">
            PosKeeper Global IT. <a href="https://poskeeper.com">www.poskeeper.com</a>
        </div>
    </footer>
{% endblock %}
<ul id="sidebar-calculator" class="sticklr">
    <li>
        <a href="#" ><img height="24" width="24" src="{{ asset('assets/plugins/sidebar-panel/image/calculator.png') }}"/></a>
        <ul>
            <li class="sticklr-title">
                <a href="#">Calculator</a>
            </li>
            <li>
                <div class="calculator-area mx-auto justify-content-center border border-primary text-center">
                    <div class="history col-12">
                        <div class="below-logo">
                            <input type="text" class="border border-primary form-control-sm text-center history-screen"/>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 4px; margin-top: 4px">
                        <input type="text" class="input-screen border border-primary form-control-lg col-8 text-end" disabled/>
                        <button type="button" class="btn btn-outline-danger reset col" value="reset">RESET</button>
                    </div>
                    <div class="row" >
                        <button type="button" class="btn btn-outline-secondary col" value="7">7</button>
                        <button type="button" class="btn btn-outline-secondary col" value="8">8</button>
                        <button type="button" class="btn btn-outline-secondary col" value="9">9</button>
                        <button type="button" class="btn btn-outline-primary col" value="+">+</button>
                    </div>
                    <div class="row">
                        <button type="button" class="btn btn-outline-secondary col" value="4">4</button>
                        <button type="button" class="btn btn-outline-secondary col" value="5">5</button>
                        <button type="button" class="btn btn-outline-secondary col" value="6">6</button>
                        <button type="button" class="btn btn-outline-primary col" value="-">-</button>
                    </div>
                    <div class="row">
                        <button type="button" class="btn btn-outline-secondary col" value="1">1</button>
                        <button type="button" class="btn btn-outline-secondary col" value="2">2</button>
                        <button type="button" class="btn btn-outline-secondary col" value="3">3</button>
                        <button type="button" class="btn btn-outline-primary col" value="x">x</button>
                    </div>
                    <div class="row">
                        <button type="button" class="btn btn-outline-secondary col mod" value="%">%</button>
                        <button type="button" class="btn btn-outline-secondary col" value="0">0</button>
                        <button type="button" class="btn btn-outline-secondary col" value=".">.</button>
                        <button type="button" class="btn btn-outline-primary col" value="/">&divide;</button>
                    </div>
                    <div class="row">
                        <button type="button" class="btn btn-outline-success col-9" value="=">=</button>
                        <button type="button" class="btn btn-outline-primary col" value="+-">+/-</button>
                    </div>
                </div>

            </li>

        </ul>
    </li>
</ul>
{% block javascripts %}
    <script src="{{ asset('assets/plugins/jquery/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor-all.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="{{ asset('assets/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
    {{ encore_entry_script_tags('app') }}
{% endblock %}
<script>$.uiBackCompat = false;</script>
<script type="text/javascript">
    jQuery(document).ready(function () {
        {% block documentready %}
        var win = window,
            doc = document,
            docElem = doc.documentElement,
            body = doc.getElementsByTagName('body')[0],
            hei = win.innerHeight|| docElem.clientHeight|| body.clientHeight;
        divHeight = (hei -250)+'px';
        $('#body-height').css('min-height', divHeight);
        {% endblock %}
    });
</script>
<div class="remodal" data-remodal-id="modal" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
    <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
    <div id="modal-container"><div class="loader04"></div></div>
</div>
<div id="confirm-content" style="display:none">
    <div class="confirmModal_content">
        Are you sure to confirm this record?
    </div>
    <div class="confirmModal_footer">
        <div class="btn-group btn-group-sm" role="group">
            <button type="button" class="btn btn-sm btn-danger" data-confirmmodal-but="cancel"><i class="fa fa-close"></i> Cancel</button>
            <button type="button" class="btn btn-sm  blue-bg white-font" data-confirmmodal-but="ok"><i class="fa fa-check"></i> Confirm</button>
        </div>
    </div>
</div>
<div id="approve-content" style="display:none">
    <div class="confirmModal_content">
        Are you sure want to submit this form?
    </div>
    <div class="confirmModal_footer">
        <div class="btn-group btn-group-sm" role="group">
            <button type="button" class="btn btn-sm btn-danger" data-confirmmodal-but="cancel"><i class="fa fa-close"></i> Cancel</button>
            <button type="button" class="btn btn-sm  blue-bg white-font" data-confirmmodal-but="ok"><i class="fa fa-check"></i> Confirm</button>
        </div>
    </div>
</div>
<div id="dialog_content" class="dialog_content" style="display:none">
    <div class="dialogModal_header"></div>
    <div class="dialogModal_content"></div>
</div>
<div id='loader' class="ajax-loading"></div>

{#<div id="sidebar-panel"></div>#}
<style>

    .ajax-loading{
        display: none;
    }
    #loader {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        text-align: center;
        background: url('{{ asset('assets/images/loading.gif')}}') 50% 50% no-repeat rgba(205, 196, 213, 0.32);
        vertical-align: middle;
        color: #fff;

    }
    #loader:before{
        content: attr(data-wordLoad);
        color: #fff;
        position: absolute;
        top: calc(50% + 150px); /* gif圖片的高度一半 */
        left: calc(50% - 90px); /* 設定文字寬度的 一半 */
        width: 180px;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        font-size: 1.5rem;
    }

    .main-container{
        padding-top: 56px;
    }

    .help-block ul.list-unstyled li{
        color:red;
    }
    .dropdown-info{
        margin-top: 1px!important;
    }
    .remodal-close {
        top: -10px;
        right: 0px;
    }
    .tooltip{
        z-index:100000000!important;
    }
    .input-group-append .btn, .input-group-prepend .btn {
        position: relative;
        z-index: 0;
    }


</style>
</body>
</html>
