<style>
    .alert strong{
        padding-right: 7px;
    }
</style>
{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="alert alert-warning alert-dismissable fade show col-md-12" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="false"></button>
        <strong></strong> {{ flashMessage }}.
    </div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success alert-dismissible fade show col-md-12" role="alert">
        <strong>Success!</strong> {{ flashMessage }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
    </div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-danger alert-dismissible fade show col-md-12" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="false"></button>
        <strong></strong> {{ flashMessage }}.
    </div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('info') %}
    <div class="alert alert-info alert-dismissable fade show col-md-12" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="false"></button>
        <strong></strong> {{ flashMessage }}.
    </div>
{% endfor %}
{#{% if not form.vars.valid %}
     <ul>
         #}{# Loop through every form item #}{#
         {% for child in form.children %}
             #}{# Display the errors of the form item #}{#
             {%for error in child.vars.errors%}
                 <li>{{error.message}}</li>
             {%endfor%}
         {%endfor%}
     </ul>
 {%endif%}#}
