<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maintenance Mode!!!</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('assets/images/aman/favicon.ico') }}"/>

    <style>
        *{
            margin: 0;
            padding: 0;
        }
        body{
            margin: 0;
            padding: 0;
            background-image: url("{{ asset('/assets/images/maintenance.jpeg') }}");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
        }
    </style>

</head>
<body>
{#<div class="container-fluid h-100 bg-dark bg-gradient text-white">#}
{#    <div class="row d-inline justify-content-center align-self-center">#}
{#        <div class="col text-center">#}
{#            <h1>We'll back soon!</h1>#}
{#            <p>Sorry for the inconvenience but we're performing some maintenance at the moment. We'll be back online shortly!</p>#}
{#        </div>#}
{#    </div>#}
{#</div>#}

</body>
</html>