{% extends 'layout.html.twig' %}
{% block body_id 'admin_terminal_new' %}
{% block body %}
    <div class="pcoded-inner-content">
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Manage Domain'|trans }}</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="portlet box green ">
                    <div class="portlet-title">
                        <div class="caption"><i class="fa fa-th-large"></i> {{ 'Manage Organization'|trans }}</div>
                    </div>
                    <div class="portlet-body form">
                        {{ form_start(form, {'attr': {'class': 'form-horizontal right','novalidate':'novalidate'}}) }}
                        <div class="row form-body">
                            <div class="form-inner-no-space">
                                <div class="row">
                                    <div class="col-md-6">

                                        <div class="form-group">
                                            {{ form_label(form.terminal.name, 'Organization Name'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-8">
                                                <span class="is-required"> *</span>
                                                {{ form_widget(form.terminal.name) }}
                                                {{ form_errors(form.terminal.name) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.terminal.mobile, 'Mobile'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-8">
                                                <span class="is-required"> *</span>
                                                {{ form_widget(form.terminal.mobile) }}
                                                {{ form_errors(form.terminal.mobile) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.terminal.displayMobile, 'Dispaly Mobile'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.terminal.displayMobile) }}
                                                {{ form_errors(form.terminal.displayMobile) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.terminal.domain, 'Domain'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.terminal.domain) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.terminal.email, 'e-Mail'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.terminal.email, {'attr': {'class': ''}}) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.terminal.address, 'Address'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.terminal.address, {'attr': {'class': ''}}) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.terminal.binNo, 'BIN No'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.terminal.binNo, {'attr': {'class': ''}}) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.terminal.tinNo, 'eTIN NO'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.terminal.tinNo, {'attr': {'class': ''}}) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_label(form.resetPassword, 'Reset Password'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.resetPassword) }}
                                                {{ form_errors(form.resetPassword) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.navbar, 'Navbar'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-8">
                                                <span class="is-required"> *</span>
                                                {{ form_widget(form.navbar) }}
                                                {{ form_errors(form.navbar) }}
                                            </div>
                                        </div>

                                        <div class="card-header">
                                            <h5>Upload Section </h5>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label required" for=""></label>
                                            <div class="thumbnail">
                                                <div class="thumb">
                                                    {% if entity.webPath is not empty %}
                                                    <img src="/{{ entity.webPath }}" alt="" class="img-fluid img-thumbnail">
                                                    {% else %}
                                                    <img src="{{asset('assets/images/bank/asia.jpeg') }}" alt="" class="img-fluid img-thumbnail">
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label required" for="">Logo</label>
                                                    <div class="col-md-7 custom-file">
                                                        {{ form_widget(form.file) }}
                                                        {{ form_errors(form.file) }}
                                                        <label class="custom-file-label" for="domain_form_printHeaderFile">Choose file</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label required" for=""></label>
                                            <div class="thumbnail">
                                                <div class="thumb">
                                                    {% if entity.webHeaderPath is not empty %}
                                                        <img src="/{{ entity.webHeaderPath }}" alt="" class="img-fluid img-thumbnail">
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label required" for="">Print Header File</label>
                                                    <div class="col-md-7 custom-file">
                                                        {{ form_widget(form.printHeaderFile) }}
                                                        {{ form_errors(form.printHeaderFile) }}
                                                        <label class="custom-file-label" for="purchase_issue_form_file">Choose file</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label required" for=""></label>
                                            <div class="thumbnail">
                                                <div class="thumb">
                                                    {% if entity.webFooterPath is not empty %}
                                                        <img src="/{{ entity.webFooterPath }}" alt="" class="img-fluid img-thumbnail">
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label required" for="">Print Footer File</label>
                                                    <div class="col-md-7 custom-file">
                                                        {{ form_widget(form.printFooterFile) }}
                                                        {{ form_errors(form.printFooterFile) }}
                                                        <label class="custom-file-label" for="domain_form_printFooterFile">Choose file</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-actions right">
                                    <div class="col-md-6 left">
                                        <div class="btn-group btn-group-sm" >
                                            {% if app.user.hasRoles(['ROLE_DOMAIN']) and app.user.checkBundle(['procurement']) %}
                                                <a target="_blank" href="{{ path('domain_database_dump') }}" class="btn btn-sm green-bg  white-font"><i class="fa fa-download"></i>Database Download</a>
                                                {#<a target="_blank" href="{{ path('domain_reset',{'id':terminal}) }}" class="btn btn-sm red-bg  white-font"><i class="fa fa-refresh"></i>Reset</a>#}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                            <button type="reset"  class="btn btn-sm yellow-bg white-font"><i class="fa fa-refresh"></i>{{ 'label.reset'|trans }}</button>
                                            {{ form_widget(form.SaveAndCreate, {label: 'SaveAndCreate', attr: { class: 'btn btn-info form-submit'}}) }}
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        {{ form_widget(form._token) }}
                        {{ form_end(form) }}
                    </div>

                </div>
            </div>
        </div>

        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
 {% block cssBlock %}
     <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
 {% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}